<%= form_with model: @article, local: true do |form| %>
 
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <ul>
      <li>
        <%= pluralize(@article.errors.count, "error") %> prohibited
        this article from being saved:
      </li>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <ul>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </ul>
 
  <ul>
    <%= form.label :text %><br>
    <%= form.text_area :text %>
  </ul>

  <ul>
    <%= form.submit %>
  </ul>
 
<% end %>