<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>

<p>
  <strong>Author:</strong>
  <%= @article.user.email %>
</p>
 

<%if user_signed_in? %>
  <%if current_user==@article.user %>

		<%= link_to 'Edit', edit_article_path(@article) %> |
		<%= link_to 'Back', articles_path %>
	<% end %>
<% end %>

<h2>Comments</h2>
<%= render @article.comments %>

<%if user_signed_in? %>
  <h2>Add a comment:</h2>
  <%= render 'comments/form' %>
<% end %>
 
